<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/css/posts.css">

<ul>
    <% if(posts.length==0){ %>
        <h2 class="no-post">No posts published!</h2>
        <% }%>
            <% posts.forEach(function(post) { %>
                <li id="posts-<%= post._id %>" class="posts">
                    <div class="post-header">
                        <img src="<%= user.avatar %>" alt="<%= post.user.name %>'s Avatar">
                        <div class="post-content">
                            <p>
                                <%= post.content %>
                            </p>
                            <small>
                                <span>Name: <%= user.name %></span><br>
                                <span>Posted at: <%= new Date(post.createdAt).toLocaleString() %></span><br>
                                <span>
                                    <%= post.comments.length %> comments
                                </span>
                                &nbsp;&nbsp;
                                <span><a href="">View Comments</a></span>
                                &nbsp;&nbsp;
                                <span><a href="/posts/destroy/<%= post.id %>"><i
                                            class="fa-regular fa-circle-xmark"></i></a></span><br>
                            </small>
                        </div>
                    </div>
                </li>
                <% }); %>
</ul>


<!-- TODO I have to code for the view comments in the user post section -->