<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- for layout css is common -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <!-- for body there is another css file -->
  <%- style %>

</head>

<body>
  <%- include('_header'); %>
  <!-- Adding the variable part here the code which is written in the user_profile.ejs or home.ejs will be rendered accordingly-->

  
  <main id="layout-main">
    <%- body %>
  </main>
  
  <%- include('_footer'); %>
  <!-- This will add the required static script files whenever it will be rendered-->
  <%- script %>

  <script>
    <% if(flash.success && flash.success.length>0){ %>
      new Noty({
        theme:'relax',
        text:'<%= flash.success %>',
        type:'success',
        layout:'topRight',
        timeout:1500
      }).show()
    <%}%>
    
    <% if(flash.error && flash.error.length>0){ %>
      new Noty({
        theme:'relax',
        text:'<%= flash.error %>',
        type:'error',
        layout:'topRight',
        timeout:1500
      }).show()
    <%}%>
  </script>

</body>

</html>